.wall-window {
  position: absolute;
  left: 50%;
  width: calc(var(--window-art-width) * var(--desk-room-unit));
  height: calc(var(--window-art-height) * var(--desk-room-unit));
  bottom: calc(var(--window-art-bottom) * var(--desk-room-unit));
  translate: -50% 0;
  overflow: visible;
  pointer-events: none;
}
