.astronaut-cutout {
  width: 100%;
  position: relative;
  transform-origin: 50% 85%;
}

.astronaut-cutout__definitions {
  position: absolute;
  pointer-events: none;
}

.astronaut-cutout__image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
